<%= simple_form_for [@cocktail], defaults: { input_html: { class: 'new-form' } } do |f| %>
        <div class="form-row">
          <h2>How's your drink called pal' ?</h2>
          <%= f.input :name, label: false %>
        </div>
          <%= f.submit "Add cocktail", input_html: { class: 'form-submit' } %>
        <% end %>
</div>